$grid-gutter-width: 0.5rem;
$card-bg: #212529;
$card-color: #0dcaf0;
$card-border-radius: 2rem;
$danger: #ff0077;
$info: #00ffea;
$light: #f3eeff;
$badge-border-radius: 50rem;
$btn-border-radius: 50rem;
$input-border-radius: 50rem;
