@import "./partials/bootstrap-overrides";

.px-2-5 {
  padding-left: 2.5rem !important;
  padding-right: 2.5rem !important;
}

.py-0-75 {
  padding-top: 0.75rem !important;
  padding-bottom: 0.75rem !important;
}
